{
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindAttributes": ["tw"],
    "tailwindFunctions": ["tw"],
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
  }